<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server1" value="69.21.114.135" />
    <add key="port_server1" value="8081" />
    <add key="enable_server1" value="1" />
    
    <add key="server2" value="127.0.0.1" />
    <add key="port_server2" value="80" />
    <add key="enable_server2" value="0" />

    <add key="server3" value="192.168.1.13" />
    <add key="port_server3" value="80" />
    <add key="enable_server3" value="0" />

    <add key="server4" value="192.168.1.14" />
    <add key="port_server4" value="80" />
    <add key="enable_server4" value="0" />

    <add key="public_ip" value="69.21.114.135" />
    <add key="public_port" value="8080" />

  </appSettings>
</configuration>