<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>abbreviation</key>
		<string>de</string>
		<key>english</key>
		<string>German</string>
		<key>original</key>
		<string>Deutsch</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>en</string>
		<key>english</key>
		<string>English</string>
		<key>original</key>
		<string>English</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>es</string>
		<key>english</key>
		<string>Spanish</string>
		<key>original</key>
		<string>Español</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>fr</string>
		<key>english</key>
		<string>French</string>
		<key>original</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>it</string>
		<key>english</key>
		<string>Italian</string>
		<key>original</key>
		<string>Italiano</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>nl</string>
		<key>english</key>
		<string>Dutch</string>
		<key>original</key>
		<string>Nederlands</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>pt</string>
		<key>english</key>
		<string>Portuguese</string>
		<key>original</key>
		<string>Português</string>
	</dict>
	<dict>
		<key>abbreviation</key>
		<string>sv</string>
		<key>english</key>
		<string>Swedish</string>
		<key>original</key>
		<string>Svenska</string>
	</dict>
</array>
</plist>
